spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306
    username: root
    password: 123456

password:
  salt: 大小写字母，数字，特殊符号
  secret: 大小写字母，数字

huaweistorage:
  ak: 在华为云自行获取
  sk: 在华为云自行获取
  endpoint: 在华为云自行获取
  access-domain: 访问域名，在华为云自行获取，前面不加https://